@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Administrator - Adem Bulut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   

    @*<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>*@
    
</head>
<body>
    <style type="text/css">
        body{
            background-image:url("../Content/images/back.png");
        }
        form{
            background-color:white;
            opacity:0.9;
            padding:10px;
            border-radius:6px;
        }
        table{
            background-color:white;
            opacity:0.9;
            padding:10px;
        }
        .dkadem-nav-row{
            padding:15px;
            border-radius:4px;
            background-color:rgba(0, 208, 255, 0.79);
        }
        .dkadem-nav-row a{
            padding:6px;
            margin:5px;
            background-color:#0094ff;
            color:#000000;
            border-radius:4px;
        }
        .dkadem-nav-row a:hover{
            color:white;
            border-bottom-left-radius:0;
            padding-left:10px;
            padding-right:10px;
        }
        .container{
            margin-bottom:8px;
        }
        .row{
            margin-top:5px;
        }
        .dkadem-category{
            border:1px solid red;
            background-color:white;
            opacity:0.9;
            margin-top:8px;
        }
        .alttaraf{
            padding:10px;
            border-radius:4px;
            background-color:rgba(0, 208, 255, 0.79);
        }
    </style>
        @* Partial View Buraya *@
    @Html.Action("_TopLayout","Admin")
    @RenderBody()
</body>
</html>
