
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">

    <div class="agile_about">
        <div class="agile_about_pos">
            <img src="~/Content/images/1.png" alt=" " class="img-responsive" />
        </div>
    </div>
    <div class="agileits_agile_about">
        <h3>About Me</h3>
        <div class="col-md-6 agileits_agile_about_left">
            <p>
                I'm a freelance software developer.I live in
                Sivas and like to travel often. I like Open Source
                Understanding.
            </p>

        </div>
        <div class="col-md-6 agileits_agile_about_right">
            <h4>
                You can say hello to me, read my essays on My Blog,
                or follow my open source work <a href="http://github.com/adembulut">on GitHub.</a>
            </h4>
        </div>
        <div class="clearfix"> </div>
        <div class="agileits_skills_grids">
            <div class="col-md-6 agileits_skills_grid">
                <div class="skills">
                    <div class="skill1" style="width:80%"> </div>
                    <div class="bar">
                        <p>C# Asp.NET</p>
                    </div>
                </div>
                <div class="skills skills1">
                    <div class="skill3" style="width:75%"> </div>
                    <div class="bar">
                        <p>Java</p>
                    </div>
                </div>
                <div class="skills skills2">
                    <div class="skill4" style="width:60%"> </div>
                    <div class="bar">
                        <p>HTML</p>
                    </div>
                </div>
                <div class="skills skills3">
                    <div class="skill5" style="width:36%"> </div>
                    <div class="bar">
                        <p>CSS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 agileits_skills_grid">
                <div class="skills">
                    <div class="skill1" style="width:80%"> </div>
                    <div class="bar">
                        <p>Android</p>
                    </div>
                </div>
                <div class="skills skills1">
                    <div class="skill3" style="width:90%"> </div>
                    <div class="bar">
                        <p>Algoritm</p>
                    </div>
                </div>
                <div class="skills skills2">
                    <div class="skill4" style="width:50%"> </div>
                    <div class="bar">
                        <p>Javascript</p>
                    </div>
                </div>
                <div class="skills skills3">
                    <div class="skill5" style="width:80%"> </div>
                    <div class="bar">
                        <p>Team Leader</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about -->
</div>
